.idea\
*.idea*
__pycache__\
*__pycache__*
*training_session*
*egg-info*
*events.out.tfevents*
/random_env_modelling/re_trajs/
*.zip
*.csv
*.txt
*.ini
.run*
!tile_coding_re/indirect_approach/q_table_size_heatmaps
*.npy
*.npz
#*REDA*
*.ipynb_checkpoints*
#*.pkl
#*.yml
#*.png
